@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-abc: #121063;
  --color-white: #fff;
  --color-black-100: #231f20;
  --color-black-200: #212123;
  --color-black-300: #000000;
  --color-black-400: #282828;
  --color-blue-100: #2da9df;
  --color-blue-200: #1375bc;
  --color-blue-300: #1e75bc;
  --color-blue-400: #2da9df;
  --color-back: #f3f8fc;
  --color-grey-100: #aaaaaa;
  --color-grey-200: #5a5a5a;
  --color-grey-300: #525252;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html,
body {
  font-synthesis: none; /* prevents fake italics/bolds */
  -webkit-font-smoothing: antialiased;
  font-style: normal !important;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@font-face {
  font-family: "Acumin";
  src: url("/fonts/Acumin.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}



@utility heading {
  @apply text-[32px] font-medium leading-[46px] tracking-[0em];
}

@utility heading-lg {
  @apply font-semibold text-[24px] tracking-normal;
}

@utility heading-sm {
  @apply font-semibold text-2xl leading-[40px] tracking-normal;
}

@utility text-normal {
  @apply font-medium text-[16px] leading-[24px] tracking-[0em];
}

@utility text-semibold {
  @apply font-semibold text-base leading-5 tracking-normal;
}

@utility text-normal1 {
  @apply font-medium text-base leading-6 tracking-normal;
}

@utility p-vsmall {
  @apply font-medium text-sm leading-5 tracking-normal;
}

@utility p-small {
  @apply font-medium text-base leading-6 tracking-[0em];
}

@utility p-mid {
  @apply font-medium text-lg leading-8 tracking-normal;
}

@utility p-big {
  @apply font-semibold text-2xl leading-[40px] tracking-normal;
}

@utility other-text {
  @apply font-medium text-[12px] leading-[20px] tracking-[0em];
}

@utility placeholderr {
  @apply font-medium text-[14px] leading-[20px] tracking-[0em];
}

@utility planSubhead {
  @apply font-medium text-[20px] leading-[32px] tracking-[0em];
}

@utility plans-heading {
  @apply font-semibold text-[16px] leading-[20px] tracking-[0em];
}
@utility plans-price {
  @apply font-medium text-[32px] leading-[46px] tracking-[0em];
}

@utility plans-subheading {
  @apply font-medium text-[14px] leading-[20px] tracking-[0em];
}

@utility h1-bold {
  @apply text-[32px] font-bold leading-[42px] tracking-tighter;
}
@utility h1-medium {
  @apply text-[32px] font-medium leading-[42px] tracking-tighter;
}

@utility h2-bold {
  @apply text-[24px] font-bold leading-[31.2px];
}

@utility h2-semibold {
  @apply text-[24px] font-semibold leading-[31.2px];
}

@utility h3-bold {
  @apply text-[20px]  leading-[26px];
}

@utility h3-semibold {
  @apply text-[20px] font-semibold leading-[24.8px];
}

@utility h3-medium {
  @apply text-[20px] font-normal leading-[24.8px];
}

@utility base-medium {
  @apply text-[18px] font-medium leading-[25.2px];
}

@utility base-semibold {
  @apply text-[18px] font-semibold leading-[25.2px];
}

@utility base-bold {
  @apply text-[18px] font-bold leading-[140%];
}

@utility paragraph-regular {
  @apply text-[16px] font-normal leading-[22.4px];
}

@utility paragraph-medium {
  @apply text-[16px] font-medium leading-[24px];
}

@utility paragraph-semibold {
  @apply text-[16px] font-semibold leading-[20.8px];
}

@utility body-regular {
  @apply text-[14px] font-normal leading-[19.6px];
}

@utility body-medium {
  @apply text-[14px] font-medium leading-[18.2px];
}

@utility body-semibold {
  @apply text-[14px] font-semibold leading-[18.2px];
}

@utility body-bold {
  @apply text-[14px] font-bold leading-[18.2px];
}

@utility small-regular {
  @apply text-[12px] font-normal leading-[15.6px];
}

@utility small-medium {
  @apply text-[12px] font-medium leading-[15.6px];
}

@utility small-semibold {
  @apply text-[12px] font-semibold leading-[15.6px];
}

@utility subtle-medium {
  @apply text-[10px]! font-medium! leading-[13px]!;
}

@utility subtle-regular {
  @apply text-[10px] font-normal leading-[13px];
}

/* @utility placeholder {
  @apply placeholder:text-light-400 dark:placeholder:text-light-500;
} */

@utility invert-colors {
  @apply invert dark:invert-0;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

/* @utility btn {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility btn-secondary {
  @apply bg-light-800! dark:bg-dark-400!;
}

@utility btn-tertiary {
  @apply bg-light-700! dark:bg-dark-300!;
} */

@utility no-focus {
  @apply focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-dots {
  display: flex !important;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1s ease-in-out;
}

.pulse-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.outer-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background-color: yellow; */
  /* background-color: rgba(108, 92, 231, 0.5); */
  z-index: 1;
  transition: transform 0.1s ease-out;
}

.pulse-circle {
  width: 100px;
  height: 100px;
  /* background-color: red; */
  /* background-color: #6c5ce7; */
  color: white;
  font-size: 48px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
